.user-list-container {
  background-color: #f5f5f5;
  height: 100%;
  border-right: 1px solid #e0e0e0;
}

.user-list-container .MuiList-root {
  padding: 0;
}

.user-list-container .MuiListItem-root {
  transition: background-color 0.2s;
  border-left: 3px solid transparent;
}

.user-list-container .MuiListItem-root:hover {
  background-color: #e3f2fd;
  border-left-color: #1976d2;
}

.user-list-container .MuiListItemText-primary {
  font-weight: 500;
  color: #333;
}

.user-list-container .MuiDivider-root {
  margin: 0;
}
